@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

html {
  font-family: "Outfit", sans-serif;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
}

body .card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 300px;
  height: 480px;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

body .card img {
  width: 300px;
  border-radius: 20px;
}

body .card-title {
  font-weight: 700;
  font-size: 24px;
  color: hsl(218, 44%, 22%);
}

body .card-description {
  margin: -10px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
